<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862513656053-gh02aeo8aso5iage0joqk58ogr5k5ve3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862513656053-gh02aeo8aso5iage0joqk58ogr5k5ve3</string>
	<key>API_KEY</key>
	<string>AIzaSyArVKp4CqMt6vt9tEH-fo_IWNVyeL6fsJg</string>
	<key>GCM_SENDER_ID</key>
	<string>862513656053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.golfTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>golf-tracker-app-final-csc322</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-tracker-app-final-csc322.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862513656053:ios:b62e602a7f79fad68395bc</string>
</dict>
</plist>